# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(url)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df = df.loc[:,'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

Some notes on lambda functions:
- lambda functions are called "anonymous functions" (they have no name)
- structure: "lambda input parameters: operations done inside lambda function"
- it's possible to use them only for single operations

In [4]:
my_capitalize = lambda a: a.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [5]:
# Capitalizing Mjob
df['Mjob'] = df['Mjob'].apply(my_capitalize)
df['Mjob'].unique()

array(['At_home', 'Health', 'Other', 'Services', 'Teacher'], dtype=object)

In [6]:
# Capitalizing Fjob
df['Fjob'] = df['Fjob'].apply(my_capitalize)

### Step 7. Print the last elements of the data set.

In [7]:
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

or

In [8]:
print(df.iloc[390:395,:])

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [9]:
# In my case the original dataframe is capitalized. Is this because I've already assigned
# the capitalizing operation to df columns?

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [10]:
def majority(x):
  if x > 17:
    return "yes"
  return "no"

df['legal_drinker'] = df['age'].apply(majority)

In [11]:
# or I could use a map function
df['legal_drinker2'] = map(majority, df['age'])

In [12]:
# Check if it works:
print("{0}, {1}".format(df.loc[df['age'] > 17 ,'legal_drinker'].unique(), df.loc[df['age'] <= 17, 'legal_drinker'].unique()))

['yes'], ['no']

In [13]:
print("{0}, {1}".format(df.loc[df['age'] > 17 ,'legal_drinker2'].unique(), df.loc[df['age'] <= 17, 'legal_drinker2'].unique()))

['yes'], ['no']

In [14]:
# check if legal_drinker columns are equal:
df['legal_drinker'].equals(df['legal_drinker2'])

True

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [15]:
# Check columns type

df.dtypes

school            object
sex               object
age                int64
address           object
famsize           object
Pstatus           object
Medu               int64
Fedu               int64
Mjob              object
Fjob              object
reason            object
guardian          object
legal_drinker     object
legal_drinker2    object
dtype: object

In [16]:
new_num = df.select_dtypes(np.number) * 10
df[new_num.columns] = new_num
print(df[new_num.columns].head())

   age  Medu  Fedu
0  180    40    40
1  170    10    10
2  150    10    10
3  150    40    20
4  160    30    30