# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1.columns

Index([u'mpg', u'cylinders', u'displacement', u'horsepower', u'weight',
       u'acceleration', u'model', u'origin', u'car', u'Unnamed: 9',
       u'Unnamed: 10', u'Unnamed: 11', u'Unnamed: 12', u'Unnamed: 13'],
      dtype='object')

In [7]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [8]:
cars2.columns

Index([u'mpg', u'cylinders', u'displacement', u'horsepower', u'weight',
       u'acceleration', u'model', u'origin', u'car'],
      dtype='object')

In [10]:
cars1 = cars1.loc[:,:'car']

### Step 5. What is the number of observations in each dataset?

In [14]:
print("In cars1 there are {0} observations and {1} columns, while {2} rows and {3} features in cars2".format(cars1.shape[0], cars1.shape[1],
                                                                                               cars2.shape[0], cars2.shape[1]))

In cars1 there are 198 observations and 9 columns, while 200 rows and 9 features in cars2

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [102]:
cars = pd.concat([cars1, cars2])
cars = cars.reset_index()

or

In [103]:
appending = cars1.append(cars2)
appending = appending.reset_index()
appending.equals(cars)

True

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [106]:
owners_series = pd.DataFrame(np.random.RandomState(123).randint(15000, 73000, size=cars.shape[0]), columns=['owner'])
owners_series.head()

   owner
0  67734
1  30725
2  43030
3  32730
4  69370

### Step 8. Add the column owners to cars

In [107]:
cars['owner'] = owners_series
cars.head()

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
0,0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,67734
1,1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,30725
2,2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,43030
3,3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,32730
4,4,17.0,8,302,140,3449,10.5,70,1,ford torino,69370

or

In [108]:
comparison1 = pd.concat([cars.iloc[:,:-1], owners_series], axis=1)

In [109]:
cars.equals(comparison1)

True

In [111]:
comparison2 = cars.iloc[:,:-1].join(owners_series)

In [112]:
comparison1.equals(comparison2)

True